################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Boston Housing Prices Prediction/.ipynb_checkpoints
